<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/icon_font.css" />
    <link rel="stylesheet" href="./styles/main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
    <%- include('partials/_navbar') %>
    <header class="header">
      <div class="header__logo-box">
        <img
          src="../img/artificial-intelligence-icon-png-14762.png"
          alt="site logo"
          class="header__logo"
        />
      </div>
      <div class="header__text-box">
        <h1 class="heading-primary">
          <span class="heading-primary--main">acclaim</span>
          <span class="heading-primary--sub"
            >where the digital becomes the physical</span
          >
        </h1>
        <a href="#" class="btn btn--white btn--animated"
          >Discover Your Next masterpeice</a
        >
      </div>
    </header>
    <main>
      <section class="section-sellers-art">
        <div class="u-center-text u-margin-bottom-big">
          <h2 class="heading-secondary">our featured art</h2>
        </div>
        <div class="row">
          <div class="col-1-of-3">
            <!-- start of single card -->
            <div class="card">
              <div class="card__side card__side--front">
                <div class="card__picture card__picture--1">&nbsp;</div>
                <h4 class="card__heading">
                  <br />
                  <span class="card__heading-span card__heading-span--1">
                    The Colluseum
                  </span>
                </h4>
                <div class="card__details">
                  <ul>
                    <li>Availible Sizes</li>
                    <li>Poster</li>
                    <li>Letter</li>
                  </ul>
                </div>
              </div>
              <div class="card__side card__side--back card__side--back-1">
                <div class="card__cta">
                  <div class="card__price-box">
                    <p class="card__price-only">Starting at</p>
                    <p class="card__price-value">$75</p>
                  </div>
                  <a href="#" class="btn btn--white">buy now</a>
                </div>
              </div>
            </div>
          </div>
          <!-- end of single card -->
          <div class="col-1-of-3">
            <!-- start of single card -->
            <div class="card">
              <div class="card__side card__side--front">
                <div class="card__picture card__picture--2">&nbsp;</div>
                <h4 class="card__heading">
                  <br />
                  <br />
                  <span class="card__heading-span card__heading-span--2">
                    Sad but True
                  </span>
                </h4>
                <div class="card__details">
                  <ul>
                    <li>Availible Sizes</li>
                    <li>Poster</li>
                    <li>Post Card</li>
                  </ul>
                </div>
              </div>
              <div class="card__side card__side--back card__side--back-2">
                <div class="card__cta">
                  <div class="card__price-box">
                    <p class="card__price-only">starting at</p>
                    <p class="card__price-value">$55</p>
                  </div>
                  <a href="#" class="btn btn--white">buy now</a>
                </div>
              </div>
            </div>
          </div>
          <!-- end of single card -->
          <div class="col-1-of-3">
            <!-- start of single card -->
            <div class="card">
              <div class="card__side card__side--front">
                <div class="card__picture card__picture--3">&nbsp;</div>
                <h4 class="card__heading">
                  <br /><br />
                  <span class="card__heading-span card__heading-span--3">
                    Vengence
                  </span>
                </h4>
                <div class="card__details">
                  <ul>
                    <li>Availible Sizes</li>
                    <li>Poster</li>
                    <li>Letter</li>
                    <li>Post Card</li>
                  </ul>
                </div>
              </div>
              <div class="card__side card__side--back card__side--back-3">
                <div class="card__cta">
                  <div class="card__price-box">
                    <p class="card__price-only">starting at</p>
                    <p class="card__price-value">$85</p>
                  </div>
                  <a href="#" class="btn btn--white">buy now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of single card -->
        <div class="u-center-text u-margin-bottom-huge">
          <a href="#" class="btn btn--green">Discover more</a>
        </div>
      </section>
    </main>
  </body>
</html>
