<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Buy Art</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/icon_font.css" />
    <link rel="stylesheet" href="./styles/main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
    <%- include('partials/_navbar') %>
    <header class="buyers-header">
      <div class="buyers-header__logo-box">
        <img
          src="../img/artificial-intelligence-icon-png-14762.png"
          alt="site logo"
          class="buyers-header__logo"
        />
      </div>
      <div class="buyers-header__text-box">
        <h1 class="buyers-heading-primary">
          <span class="buyers-heading-primary--main">Browse and Buy</span>
          <span class="buyers-heading-primary--sub"
            >discover your next conversation piece</span
          >
        </h1>
        <a href="#" class="buyers-btn btn btn--white btn--animated"
          >Discover Your Next masterpeice</a
        >
      </div>
    </header>
    <main>
      <section class="section-buyers-art">
        <div class="u-center-text u-margin-bottom-big">
          <h2 class="buyers-heading-secondary">our featured art</h2>
        </div>
        <!-- start of featured -->
        <div class="featured">
          <!-- start of card  -->
          <article>
            <div><img src="./img/sufi09.png" class="size" /></div>
            <div class="desc">
              <div>DIVE INTO THE WOODS</div>
              <div>Price: $75, 85, 120</div>
            </div>
            <div class="desc">
              <a href="">Buy Now</a>
            </div>
          </article>
          <!-- end of card -->
        </div>
        <!-- end of featured -->
        <!-- start of favorites -->
        <div class="favorites">
          <!-- start of card -->
          <article>
            <div><img src="./img/sufi09.png" class="size" /></div>
            <div class="desc">
              <div>DIVE INTO THE WOODS</div>
              <div>Price: $75, 85, 120</div>
            </div>
            <div class="desc">
              <a href="">Buy Now</a>
            </div>
          </article>
          <!-- end of card -->
        </div>
        <!-- end of of favorites -->

        <div class="u-center-text u-margin-bottom-huge">
          <a href="#" class="btn btn--green">back to top</a>
        </div>
      </section>
    </main>
  </body>
</html>
