<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/icon_font.css" />
    <link rel="stylesheet" href="./styles/main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
    <main class="login-main__container">
      <header class="login-header">
        <div class="login-header__logo-box">
          <img
            src="../img/artificial-intelligence-icon-png-14762.png"
            alt="site logo"
            class="login-header__logo"
          />
        </div>

        <div class="login-header__text-box">
          <a
            href="#"
            class="login-btn login-buyer-btn btn btn--white btn--animated"
            >buyer</a
          >
          <h1 class="login-heading-primary">
            <span class="login-heading-primary--main">Login</span>
          </h1>
          <a
            href="#"
            class="login-btn login-seller-btn btn btn--white btn--animated"
            >seller</a
          >
        </div>
      </header>
    </main>
  </body>
</html>
