<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sell Your Art</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/icon_font.css" />
    <link rel="stylesheet" href="./styles/main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
    <%- include('partials/_navbar') %>
    <header class="sellers-header">
      <div class="sellers-header__logo-box">
        <img
          src="../img/artificial-intelligence-icon-png-14762.png"
          alt="site logo"
          class="sellers-header__logo"
        />
      </div>
      <div class="sellers-header__text-box">
        <h1 class="sellers-heading-primary">
          <span class="sellers-heading-primary--main">Broker your art</span>
          <span class="sellers-heading-primary--sub">change the world</span>
        </h1>
        <a href="#" class="sellers-btn btn btn--white btn--animated"
          >Post your art</a
        >
      </div>
    </header>
    <main>
      <section class="section-sellers-art">
        <div class="u-center-text u-margin-bottom-big">
          <h2 class="sellers-heading-secondary">our featured art</h2>
        </div>
        <!-- start of featured -->
        <section class="section-featured">
          <!-- start of card  -->
          <article class="ai-card">
            <div class="ai-card__img-box">
              <img src="./img/sufi09.png" class="ai-card__img" alt="card img" />
            </div>
            <div class="ai-card__desc-box">
              <h3 class="ai-card__h3">DIVE INTO THE WOODS</h3>
              <span class="artist">username</span>
            </div>
            <div class="ai-card__sizes">
              <h4 class="ai-card-avail">availible in</h4>
              <div class="poster">
                <div class="post-price"></div>
              </div>
              <div class="letter">
                <div class="letter-price"></div>
              </div>
              <div class="post-card">
                <div class="post-card-price"></div>
              </div>
            </div>
            <button class="ai-card-btn btn btn--white">
              <a href="#">Contact seller</a>
            </button>
          </article>
          <!-- end of card -->
          <!-- start of card  -->
          <article class="ai-card">
            <div class="ai-card__img-box">
              <img src="./img/sufi09.png" class="ai-card__img" alt="card img" />
            </div>
            <div class="ai-card__desc-box">
              <h3 class="ai-card__h3">DIVE INTO THE WOODS</h3>
              <span class="artist">username</span>
            </div>
            <div class="ai-card__sizes">
              <h4 class="ai-card-avail">availible in</h4>
              <div class="poster">
                <div class="post-price"></div>
              </div>
              <div class="letter">
                <div class="letter-price"></div>
              </div>
              <div class="post-card">
                <div class="post-card-price"></div>
              </div>
            </div>
            <button class="ai-card-btn btn btn--white">
              <a href="#">Contact seller</a>
            </button>
          </article>
          <!-- end of card -->
          <!-- start of card  -->
          <article class="ai-card">
            <div class="ai-card__img-box">
              <img src="./img/sufi09.png" class="ai-card__img" alt="card img" />
            </div>
            <div class="ai-card__desc-box">
              <h3 class="ai-card__h3">DIVE INTO THE WOODS</h3>
              <span class="artist">username</span>
            </div>
            <div class="ai-card__sizes">
              <h4 class="ai-card-avail">availible in</h4>
              <div class="poster">
                <div class="post-price"></div>
              </div>
              <div class="letter">
                <div class="letter-price"></div>
              </div>
              <div class="post-card">
                <div class="post-card-price"></div>
              </div>
            </div>
            <button class="ai-card-btn btn btn--white">
              <a href="#">Contact seller</a>
            </button>
          </article>
          <!-- end of card -->
        </section>
        <!-- end of featured -->
        <!-- start of favorites -->
        <section class="section-favorites">
          <!-- start of card  -->
          <article class="ai-card">
            <div class="ai-card__img-box">
              <img src="./img/sufi09.png" class="ai-card__img" />
            </div>
            <div class="ai-card__desc-box">
              <h3 class="ai-card__h3">DIVE INTO THE WOODS</h3>
              <span class="artist">username</span>
            </div>
            <div class="ai-card__sizes">
              <h4 class="ai-card-avail">availible in</h4>
              <div class="poster">
                <div class="post-price"></div>
              </div>
              <div class="letter">
                <div class="letter-price"></div>
              </div>
              <div class="post-card">
                <div class="post-card-price"></div>
              </div>
            </div>
            <button class="ai-card-btn btn btn--white">
              <a href="#">Contact seller</a>
            </button>
          </article>
          <!-- end of card -->
        </section>
        <!-- end of of favorites -->
        <!-- start of sellers art -->
        <section class="section-sell-art">
          <!-- start of card  -->
          <article class="ai-card">
            <div class="ai-card__img-box">
              <img src="./img/sufi09.png" class="ai-card__img" />
            </div>
            <div class="ai-card__desc-box">
              <h3 class="ai-card__h3">DIVE INTO THE WOODS</h3>
              <span class="artist">username</span>
            </div>
            <div class="ai-card__sizes">
              <h4 class="ai-card-avail">availible in</h4>
              <div class="poster">
                <div class="post-price"></div>
              </div>
              <div class="letter">
                <div class="letter-price"></div>
              </div>
              <div class="post-card">
                <div class="post-card-price"></div>
              </div>
            </div>
            <button class="ai-card-btn btn btn--white">
              <a href="#">Contact seller</a>
            </button>
          </article>
          <!-- end of card -->
        </section>
        <!-- end of sellers art -->
        <div class="u-center-text u-margin-bottom-huge">
          <a href="#" class="btn btn--green">Discover more</a>
        </div>
      </section>
    </main>
  </body>
</html>
