<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sell Your Art</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="./css/icon_font.css" />
  <link rel="stylesheet" href="./styles/main.css" />
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_navbar') %>
    <!-- start of header -->
    <header class="sellers-header">
      <div class="sellers-header__logo-box">
        <img src="../img/artificial-intelligence-icon-png-14762.png" alt="site logo" class="sellers-header__logo" />
      </div>
      <div class="sellers-header__text-box">
        <h1 class="sellers-heading-primary">
          <span class="sellers-heading-primary--main">Broker your art</span>
          <span class="sellers-heading-primary--sub">change the world</span>
        </h1>
        <a href="#" class="sellers-btn btn btn--white btn--animated">Post your art</a>
      </div>
    </header>
    <!-- end of header -->
    <main>
      <section class="section-sellers-art">
        <div class="u-center-text u-margin-bottom-big">
          <h2 class="sellers-heading-secondary">our featured art</h2>
        </div>
        <!-- start of featured -->
        <section class="section-featured">
          <!-- start of card  -->
          <article class="ai-card">
            <div class="ai-card__img-box">
              <img src="./img/sufi09.png" class="ai-card__img" alt="card img" />
            </div>
            <h3 class="ai-card__h3">DIVE INTO THE WOODS</h3>
            <div class="ai-card__desc-box">
              <p class="artist">username</p>
              <p class="price">$100</p>
              <p class="ai-card-avail">availible</p>
            </div>
            <button class="ai-card-btn">
              <a href="#">Contact seller</a>
            </button>
          </article>
          <!-- end of card -->
        </section>
        <!-- end of featured -->
        <!-- start of All -->
        <section class="section-all">
          <!-- start of card  -->
          <article class="ai-card">
            <div class="ai-card__img-box">
              <img src="./img/sufi09.png" class="ai-card__img" alt="card img" />
            </div>
            <h3 class="ai-card__h3">DIVE INTO THE WOODS</h3>
            <div class="ai-card__desc-box">
              <p class="artist">username</p>
              <p class="price">$100</p>
              <p class="ai-card-avail">availible</p>
            </div>
            <button class="ai-card-btn">
              <a href="#">Contact seller</a>
            </button>
          </article>
          <!-- end of card -->
        </section>
        <!-- end of of all -->
        <!-- start of sellers art -->
        <section class="section-sell-art">
          <!-- start of card  -->
          <% for(let card of cards) { %>
            <article class="ai-card">
              <div class="ai-card__img-box">
                <img src="<%= card.photo %>" class="ai-card__img" alt="dhjdhdhjdjd" />
              </div>
              <div class="ai-card__desc-box">
                <h3 class="ai-card__h3">
                  <%= card.name %>
                </h3>
                <span class="artist">
                  <%= card.user_name %>
                </span>
              </div>
              <div class="ai-card__sizes">
                <h4 class="ai-card-avail">availible in</h4>
                <div class="poster">
                  <div class="post-price"></div>
                </div>
                <div class="ai-card__favorite">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <!--! Font Awesome Pro 6.1.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
                    <path
                      d="M0 190.9V185.1C0 115.2 50.52 55.58 119.4 44.1C164.1 36.51 211.4 51.37 244 84.02L256 96L267.1 84.02C300.6 51.37 347 36.51 392.6 44.1C461.5 55.58 512 115.2 512 185.1V190.9C512 232.4 494.8 272.1 464.4 300.4L283.7 469.1C276.2 476.1 266.3 480 256 480C245.7 480 235.8 476.1 228.3 469.1L47.59 300.4C17.23 272.1 .0003 232.4 .0003 190.9L0 190.9z" />
                  </svg>
                </div>
              </div>
              <button class="ai-card-btn btn btn--white">
                <a href="#">Contact seller</a>
              </button>
            </article>

            <% } %>
              <!-- end of card -->
        </section>
        <!-- end of sellers art -->
        <div class="u-center-text u-margin-bottom-huge">
          <a href="#" class="btn btn--green">Discover more</a>
        </div>
      </section>
    </main>
</body>

</html>
